= render 'messages/side_bar'
.chatpage
  .chatpage__talk-group

    .chatpage__talk-group-editbox
      .chatpage__talk-group-edit
        Edit


    .chatpage__talk-group-name
      group

    .chatpage__talk-member
      members:natsuki

  .chatpage__talk

    .chatpage__talk-main

      .chatpage__talk-name
        NATSUKI

        .chatpage__talk-time
          2018/07/07 07:07:07

      .chatpage__talk-talk
        HEEEEEEEEEEEEEELLLLLLLLLLLLo

      .chatpage__talk-name
        NATSUKI

        .chatpage__talk-time
          2018/07/07 07:07:07

      .chatpage__talk-talk
        HEEEEEEEEEEEEEELLLLLLLLLLLLo

      .chatpage__talk-name
        NATSUKI

        .chatpage__talk-time
          2018/07/07 07:07:07

      .chatpage__talk-talk
        HEEEEEEEEEEEEEELLLLLLLLLLLLo

      .chatpage__talk-name
        NATSUKI

        .chatpage__talk-time
          2018/07/07 07:07:07

      .chatpage__talk-talk
        HEEEEEEEEEEEEEELLLLLLLLLLLLo


      .chatpage__talk-name
        NATSUKI

        .chatpage__talk-time
          2018/07/07 07:07:07

      .chatpage__talk-talk
        HEEEEEEEEEEEEEELLLLLLLLLLLLo


      .chatpage__talk-name
        NATSUKI

        .chatpage__talk-time
          2018/07/07 07:07:07

      .chatpage__talk-talk
        HEEEEEEEEEEEEEELLLLLLLLLLLLo


      .chatpage__talk-name
        NATSUKI

        .chatpage__talk-time
          2018/07/07 07:07:07

      .chatpage__talk-talk
        HEEEEEEEEEEEEEELLLLLLLLLLLLo








    .chatpage__talk-type-area

      .chatpage__talk-type

        .chatpage__talk-type-left-message
          type a message

          .chatpage__talk-type-right
            Send
          .chatpage__talk-type-left-icon
            = link_to root_path  do
              .fa.fa-image
                %label

                  %input{type: "file", name: "file", class: "native-file-input", multiple: "multiple"}

